footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 50px;
}

footer p{
    color: white;
}

.footer-link{
    text-decoration: none;
    color: #e2c8ff;
}

.footer-link:hover{
    color: white;
}